
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans|Quattrocento);

/* ----- =structure ----- */

body {
	background-color: #fff;
  margin: 0;
}

img {
	width: 100%;
}

/* ----- =logo ----- */

header h1 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 40px;
	padding-top: 50px;
	margin: 0 0 0 20px;
  text-align: center;
}
header h1 a  {
	text-decoration: none;
	color: #8f99a4;
}
header h1 a:hover {
	color: #777;
}

/* ----- =header & nav ----- */

hr {
  width: 420px;
	height: 64px;
	border: none;
  margin-top: 3px;
  margin-bottom: 10px;
  background-image: url(images/common/car.jpg);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

nav a {
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
  color: #8f99a4;
  font-family: Quattrocento, sans-serif;
}

nav a:hover {
  color: #777;
}

nav a:last-of-type {
  margin-right: 20px;
v
}


/* ---- Saying hello ---- */
h1 {
  color: #777;
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 40px;
	padding-top: 50px;
  padding-bottom: 50px;
	/*margin: 0 0 0 20px;*/
  text-align: center;
}

/* ---- Hello image ----*/
.hello-image {
  border-radius:60%;
}

/* ---- Smiling face ----*/
h3 {
  color: #777;
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 40px;
	padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  transform: rotate(90deg);
}
